<div id="toolbar">
      <!-- <a id="all" class="button">Artists</a> -->
      <a id="genre" class="button active">By Genre</a>
      <a id="use" class="button">By Popularity</a>

      <div class="SearchBar"></div>

    </div>
    <div id="vis"></div>




    <div class="chart"></div>