<div class="joy_body">
  <h1 class='intro__hed tk-atlas' style="">Genre Evolution Over Time</h1>
  <div class="body_text">
    <p>As with any sufficiently developed sub-culture, skateboarding has gone through (and continues to go through) temporal shifts in styles and trends.</p>
    <p>Particular music genres are often associated with particular styles in skateboarding. For example, hip hop is often used with technical street skating, while heavier, faster music is generally used with transition (think ramps and ppols).</p>
    <p>It's not surprising, then, that the year-to-year changes in the genre of skate video's often reflects the year-to-year changes in the styles of skateboarding, serving as a vessel for communicating what was hot in that genre.</p>
  </div>
</div>
