

<div class="joy-intro" style="">
<!-- 	<div class="body_text">
		<h3 class='intro__dek tk-atlas' style="">Music Evolution Over Time</h3>
	  <p>Like any sufficiently developed sub-culture, skateboarding has gone through, and continues to go through, temporal shifts in styles and trends.</p>
	  <p> As the culture of skateboarding changed, so too did the music.

	  <!<p>Particular music genres are often associated with particular styles in skateboarding. For example, hip hop is often used with technical street skating, while heavier, faster music is generally used with transition (think ramps and ppols).</p>
	  <p>It's not surprising, then, that the year-to-year changes in the genre of skate video's often reflects the year-to-year changes in the styles of skateboarding, serving as a vessel for communicating what was hot in that genre.</p>
	</div> -->

	<section id='scroll'>
		<div class='scroll__graphic'>
			<div class='chart'>
				<div class="joyplot"></div>
			</div>
		</div>
		<div class='scroll__text'>

			<div class='step' data-step='1' data-year="1977">
				<h4>Music Evolution Over Time</h4>
				  <!--<p>Like any sufficiently developed culture, the styles and trends of skateboarding have evolved over time, with different trends and styles coming in and out of popularity.</p>-->
				  <p>Over time, skateboarding has evolved: different styles and techniques of skateboarding have come and gone, skateboarding has risen and fallen from popularity, and the general aesthetics of skateboarders have changed.<p>

				  <p> These dramatic shifts in skateboarding culture often correlate with changes in the popular music of skate videos, allowing us to observe how the two have evolved over time.
				  <!--Thus, we can observe the shifts in music overtime as a proxy to the cultural changes in skateboarding at large.--></p>

				  <!--the popularity of different genres map to different times in skateboarding, often reflecting the cultural shifts taking place at the time. </p>
				  <p> Thus, observing the shifts in popular genre provide something of a map to the relevant styles of skateboarding at any given time.</p>

				  <p>Particular music genres are often linked with particular styles in skateboarding. For example, hip hop is often used with technical street skating, while heavier, faster music (e.g. Punk or Metal) is generally used with transition skating.</p>
				  <p>It's not surprising, then, that the year-to-year changes in the genre of skate videos reflects the year-to-year changes in the styles of skateboarding. That is, we can use the popularity of music for a given time-frame to understand which types of skateboarding were popular in that period.</p>-->
			</div>
			
			<div class='step' data-step='2' data-year="1990">
				<h4> The Beginnings </h4>
				<p>Following the advent of the VHS tape, skate videos became an established feature of skateboarding culture in the later-half of the 1980s.
				<br><br>
				For skateboarding, the 1980s were a pretty wild time. Many DIY, skater-run companies were forming. Vert skating, with its eclectic and show-man personalities, was in full popularity. And skateboarding was, for the first time, seeing commercial success.
				Early skate videos, borrowing from skateboarding's counter-culture origins, were overwhelmingly dominated by punk rock music.
				<br><br>
				 Although many of the artists featured in the first videos were temporary groups formed by the skaters themselves,  early punk icons, such as Black Flag, The Faction, and Descendents, saw prominent use.
				 <br><br>
				In fact, many artists were featured in skate videos before their eventual rise to popularity. For example, the iconic noise rock duo Sonic Youth, an artist heavily used throughout skateboarding, was first featured in a skate video in 1989, years before their mainstream success in the 1990s/2000s.
				</p>
				<!--
					The most popular genre during this time period was punk rock, though classic rock saw a healthy amount of use as well. 

					These genres shared at least two similarities with skateboarding during this time period: both were loud and fast, and both were counter-culture.

					Skateboarding in the 1980s was a wild time. Many DIY, skater-run companies were forming. Vert skating, with its eclectic and show-man personalities, was in full popularity. And skateboarding was, for the first time, seeing commercial success.

					The fast, loud tones of the decade's leading genres complimented the big airs of vert skating, while the counter-culture elements of the music reflected skateboardings roots.


				-->
			</div>
			<div class='step' data-step='3' data-year="1999">
				<h4> The 90's </h4>
                <p> In the 1990’s, skateboarding's mainstream popularity ended. Vert skating died, technical street skating took over, and skateboarding entered the infamous era of ‘big pants, small wheels’. 
                <br><br>
                The large changes in skateboarding culture brought equally large changes in genre.

                Punk and Classic Rock saw large declines in use, and Hip Hop, the defining genre of the decade, quickly took over.
                <br><br>
                The high use of Hip Hop during skateboardings least popular years cemented the genre as something of a new counter-culture anthem, with artist such as Gang Starr, Mobb Deep, and Nas seeing their first employment in skate videos. 

                <br><br>
                This was also a popular decade for Jazz/Funk/Soul artists, likely thanks to Spike Jonze's highly influential Video Days, which released in 1991 and featued the likes of John Coltrane, War, and The Jackson 5.
                 </p>
			</div>

			<div class='step' data-step='4' data-year="2010">
				<h4> The early 2000's </h4>

				<p>The success of shows such as Jackass and Viva La Bam ushered skateboarding back into mainstream popularity, and popular skateboarding changed. The low-impact technical street skating of the 90s gave way to a 'bigger-is-better' approach, as skaters began to jump down larger rails and stairs.


				<br><br>

				The music of skate videos evolved in tandem. Over the decade, Hip Hop's popularity gradually decreased, and Indie and Classic Rock steadily rose to prominence.
				The faster, more aggressive style of these genres fit well with the new 'gnarlier' style of skateboarding. Such changes were reflected in the fashion as well: pants became tighter,
				shows less puffy, and hair longer.

				<br><br>
				
				The most popular Classic Rock artists during this time were The Beatles and The Rolling Stones. For Indie music, MGMT  and Modest Mouse held the throne.
				<br><br>

				</p>


			</div>
			<div class='step' data-step='5' data-year="2029">
				<h4> The Contemporary</h4>
				<p>
				Currently, skateboarding is at peak popularity, with millions of skaters worldwide.
				As a result, this era of skateboarding sees no <i>single</i> defining aesthetic, and almost all styles/approaches have an audience.  
				<p>Appropriately Indie music, itself a broad categorization of music, is the most popular genre. Hip Hop, the second most popular genre of the decade, sees something of a resurgence, though ultimately ends the decade at its lowest point post-1990.</p>
				<p> It bears mention that some genres, notably electronic, metal, and rock, are not very popular in skateboarding. Perhaps this is because these genres lack the cultural intersection with skateboarding the other genres see; or maybe they just don't pair well with skateboarding. In any case, these genres remained all but stagnant over time.<p>
				<p>Interestingly, Joy Division,the inspiration for this plot, is the most popular artist of the current decade. 
				Sonic Youth, who saw earlier in some of skateboarding's first videos, breaks the top-five most popular artists;
				I guess some artists just pair well with skateboarding.
			</div>

		</div>
	</section>
	<!-- <div class='debug'></div> -->
</div>
