<div class="body_text block_one">


	<blockquote>
		"But the most important thing is a good song. The best skateboarding in the world can look fucking awful with a bad soundtrack."
	</blockquote>

	<p>Since its earliest days, skateboarding has been intrinsically linked with music. Many well-known artists have referenced skateboarding as a defining influence, and many popular songs explicitly mention the act of skateboarding.</p>

	<!--<p>Culturally, skateboarding is associated with a large variety of musical genres, and almost all have had a stint of popularity at some point in skateboarding.</p>-->


	<p>	To explore the music used in skateboarding, we'll look to skate videos, which showcase skateboarding from some group of individuals, usually associated with a skate company or crew of friends. In general, each skater gets their own section in the video, with his/her own song.</p>


	<p>The choice of song is very important, sometimes even more so than the skating itself. A good song sets the tempo of the video part; it matches with the skater's style and contributes to an overall aesthetic for the video. In contrast, a bad song may ruin the experience, resulting in an unremarkable, forgetable video part.</p>


	<p>Growing up, like most skaters, if I wasn't skating, I was watching skate videos, discovering not only my new favourite skaters, but my new favourite music. My first skate video turned me on to a diverse set of amazing artists, such as Dinosaur Jr., Black Flag, and John Coltrane. </p>


	<p>In a time before Spotify or Pandora, skate videos provided something of a music tastemaker - a playlist of what's cool and who's hot in music. The playlist spanned all genres and all time-frames. It felt diverse. It felt counter-culture. It felt cool. </p>


	<!--<p>In what follows, we'll explore the contents of this playlist, as well as learn how it can be used to track the evolution of the styles and trends in skateboarding over time.</p>-->

	<p> In what follows, we'll explore how the music of skateboarding changed over time, how genres relate to particular styles of skating, and who skateboarder's favorites are.</p>

</div>
