<div class="body_text">
<section><h1 class='intro__hed tk-canela'>A Closer Look At Genre</h1></section>

<p>I grew up in San Diego, California, and, like many other kids from Southern California, skateboarding  was my life. If I wasn't skating, I watching skate videos, discovering not only my new favourite skaters , but my new favourite bands. My first skate video, Blind's Video Days, turned me on not only to the indie rock staples Dinosaur Jr. and Husker Du, but to punk legend's Black Flag and Jazz legend John Coltrane.
Music in skate videos was different than what they played on the radio. It spanned all genes. It felt diverse. It felt counterculture. It felt cool.</p>

<p class="header">This sentiment is not unique. Since its inception in the 1960s, skateboarding and music have been intrinsically linked, with  a diverse array of artists explicitly mention skateboarding (and its music) as a principal influence on their music.[1]
In a time before the Spotify’s and Pandora’s of the modern era, skate videos provided something of a music tastemaker - a latin-phrase? playlist of cool music across a wide array of genres. What is this playlist composed of? And how has it changed over time?</p>
</div>