
<div style="background-color:white;">

<div class="body_text">

	<p> Let's now turn out attention to the artists that comprise skateboarding's playlist.
	
	In the graph below, each node represents an artist. Each node is color-coded by genre, and sized proportionally to the number of times that artist is used across skate videos.
	</p>

	<!--<h3 class='intro__hed tk-canela'>The Most Popular Artists</h3>-->

	<center><div class="bubble_main_title"></div></center>
	<div id="toolbar">
		<a id="genre" class="button active">By Genre</a>
		<a id="use" class="button">By Popularity</a>
		<div class="SearchBar"></div>
	</div>




</div>

	<div id="vis"></div>
	<br>
	<br>
	<br>
	<br>
<div class="body_text">
	<br>

	<ul>
	<li><p>
	The very high popularity of Classic Rock artists such as The Beatles and Pink Floyd is suprising.
	Perhaps this is because Classic Rock has grown to become strongly associated with mainstream music, while skateboarding is generally associated with 'counter-culture' genres, such as Punk or Hip Hop. Still, the epic ballads and guitar-raced riffs of the genre definitely have their place in skateboarding.</a>.
	 </p>
	 </li>

	 <li><p>
	When it comes to Hip Hop, skaters favor pre-2000s artists, with the most popular including Gang Starr, Mobb Deep, and Public Enemy.
	While this preference may appear to be the result of a temporal bias (after all, earlier artist have more opportunity for air time), consider that for <i>every</i> year after 1999, the most popular Hip Hop artist is from the 90s. 
	</p>
	</li>

	<li>
	<p> Indie music isn't dominated by a select few artists. Rather, many artists feature similar levels of use, reflecting the popularity and wide selection of the genre. Arguably, this genre is responsible for the largest number of artists most-strongly associated with skateboarding, including as New Order, Modest Mouse, Dinosaur Jr., and Sonic Youth.


	</p>
	</li>

	<li>
	<p> Sol, the most-popular Electronic artist, was heavily used in 411VM, a video magazine from the early 2000s. Baron and Odd Nosdam, the second and third most popular artist for the genre, respectively, were each recruited to create soundtracks for individual skate-videos. These latter two artists are the source of the two spikes for electronic music in the time-series chart shown earlier. Electronic music is pretty rare in skateboarding, and aside from outlier cases such as those, it's hardly used. 
	</p>
	</li>

	<li>
	<p>
	Many of the displayed artists are themselves skateboarders. Bad Shit, Grindline The Band, and CKY are composed  entirely of skateboarders. Bad Shit's guitarist is the editor of Thrasher Magazine, the so-called 'bible' of skateboarding. The most-used artist from jazz, Tommy Guerrero, is himself a professional skateboarder-turned-musician. The same is true of Ray Barbee, another popular Jazz musician.
	</p>
	</li>

	<li>
	<p> Fugazi leads Punk as the most popular artist of the genre. Fugazi has been paired with some of skateboarding's most iconic skateboarders, and Ian Mackaye, Fugazi (and Minor Threat) lead singer, was an avid skateboarder before getting into music, describing the activity as <a href="">a defining experience</a>. Other popular artists in the genre, such as Bad Brains, Devo, and Black Flag, are among the genre's most popular, and their inclusion is hardly surprising.
	</p></li>

	<!--<p>  Clearly, those artists featured most often in skate videos span a diverse array of genres. 
	We'll observe each genre in turn, as well as those particular years where a certain artist dominated.

	I should mention that, because of the ambiguity of genre classiciation, I opted for broad genre categories.
	Because of the ambiguity and subjectivity of genre classiciation (it's hard [even within a single genre](https://pudding.cool/2017/03/punk/)), I opted to use broad genre categories.
	</p>
	<p> To reduce the sheer quantity of artists shown, I limited to displayed artists to those used at least four times in skate videos. Some observations for a few of the genres: </p>
	<br>-->
	</ul>
	<hr>
	<h4> Data and Methodology </h4>
	<p> Skatevideo soundtracks were scraped from <a href="skatevideosite.com">skatevideosite.com</a>. To give a more accurate view into music in popular skateboarding culture, videos not associated with established skateboarders or skateboarding companies were omitted. For example, music from a Bolivian skate-video produced by a group of friends wasn't included.
	<br><br>
	Because genre is <a href="https://pudding.cool/2017/03/punk/">hard to classify</a>, after feeding the artists through Spotify's API to get genre, I binned the genres into broader categories.
	<br><br>
	For the bubble chart, I only included artists featured at least four times in skate videos. This was done so that artists could more easily fit in the screen, as well as for performance reasons.
	<br><br>
	If you have any questions or comments, feel free to shoot me a message on Twitter at <a href="https://twitter.com/jdwlbr">jdwilbr</a>
	<br><br>
	
</div>
</div>
