	<div class="body_text">
	<hr>
		<p>Different music genres are often associated with particular styles of skateboarding. For example, Hip Hop is often used with technical street skating, while heavier, faster music, such as Punk or Metal, is generally used alongside transition skating.</p> <p>

			Simlarily, different skate companies are often affiliated with specific styles of skateboarding. This begs the question, <i>can we determine a company's primary style of skateboarding, by observing the music is employs in skate videos?</i></p>
			<p> To investigate, I looked at the genre distributions for thirty-two of the most popular companies in skateboarding. 
			 
		</p>

		<!-- 
		Just as macro-level changes in skateboarding parallel changes in genre, so too do differences in more micro 
		aspects of skateboarding.
		<br><br> In particular, -->
	</div>
	<br>
	<br>
	<br>
	<br>
	<center><div class="waffle_main_title"></div></center>
	<br>
	<br>
<div>
	<center><div class="waffle_legend"></div></center>
	<br>
	<div class="waffle_col"> 
	    <div class="waffle_row_1"></div>
	    <div class="waffle_row_2"></div>
	    <div class="waffle_row_3"></div>
	    <div class="waffle_row_4"></div>
	    <div class="waffle_row_5"></div>
	    <div class="waffle_row_6"></div>
	    <div class="waffle_row_7"></div>
	    <div class="waffle_row_8"></div>
	    <div class="waffle_row_9"></div>
	    <div class="waffle_row_10"></div>
	    <div class="waffle_row_11"></div>
	    <div class="waffle_row_12"></div>
	</div>

	<div class="waffle_col"> 
	    <div class="waffle_row_13"></div>
	    <div class="waffle_row_14"></div>
	    <div class="waffle_row_15"></div>
	    <div class="waffle_row_16"></div>
	    <div class="waffle_row_17"></div>
	    <div class="waffle_row_18"></div>
	    <div class="waffle_row_19"></div>
	    <div class="waffle_row_20"></div>
	    <div class="waffle_row_21"></div>
	    <div class="waffle_row_22"></div>
	    <div class="waffle_row_23"></div>
	    <div class="waffle_row_24"></div>
	</div>

	<div class="waffle_col"> 
	    <div class="waffle_row_25"></div>
	    <div class="waffle_row_26"></div>
	    <div class="waffle_row_27"></div>
	    <div class="waffle_row_28"></div>
	    <div class="waffle_row_29"></div>
	    <div class="waffle_row_30"></div>
	    <div class="waffle_row_31"></div>
	    <div class="waffle_row_32"></div>
	    <div class="waffle_row_33"></div>
	    <div class="waffle_row_34"></div>
	    <div class="waffle_row_35"></div>
	    <div class="waffle_row_36"></div>
	</div>

	<div class="waffle_col"> 
	    <div class="waffle_row_37"></div>
	    <div class="waffle_row_38"></div>
	    <div class="waffle_row_39"></div>
	    <div class="waffle_row_40"></div>
	    <div class="waffle_row_41"></div>
	    <div class="waffle_row_42"></div>
	    <div class="waffle_row_43"></div>
	    <div class="waffle_row_44"></div>
	    <div class="waffle_row_45"></div>
	    <div class="waffle_row_46"></div>
	    <div class="waffle_row_47"></div>
	    <div class="waffle_row_48"></div>
	</div>

	<div class="body_text">
		<p>
			It looks like genre provides a reasonable encoding for the skateboarding style of many companies.
			 Some observations are immediately apparent:
			<br>
			<br>
			<ul>
				<li class="waffle_list"> <p>The most dominant example of genre loyalty is DGK's whopping 92% use of Hip Hop. Other companies, namely SK8MAFIA and Zoo York, also employ Hip Hop as their majority choice of genre. Because of their coupled rising in the 1990s, Hip Hop and technical street skating are strongly associated with one another. Sure enough, those companies with high usage of Hip Hop, including those mentioned above, are principally known for technical street skating. <!--Thus, the association between Hip Hop and technical street skating still exists to this day, far beyond their coupled rising in the 1990s.--></p> 
			</li>

				<li class="waffle_list"> <p>Metal music is most often associated with transition skating. This association is clearly rooted in reality, as transition-focused companies, such as Blood Wizard, Bacon, and Creature, see the highest employment of the genre.</p> 
				</li>

				<li class="waffle_list"> <p>Classic Rock is often used with a so-called 'hesh' style of skateboarding, which is something of a catch-all term describing a gritty, unkempt style. This is reflected in the high use of the genre with companies like $lave, Vox, Lurkville, and Zero.</p> 
				</li>

				<li class="waffle_list"> <p>Indie music, something of the music-for-the-masses in skateboarding, proves true to its name, with almost every company featuring at least 10% of the genre.</p> 
				</li>
				<li class="waffle_list"> <p>As a final note of interest, all of the companies that use Jazz 20% or more of the time sponsor skaters that were featured in Spike Jonze's classic 1993 video "Video Days", one of the first videos to pair Jazz with skateboarding.</p>

				<p> 
				</li>
			</ul>
			
			<br>
			<hr>
			<br>
			
		</p>
	</div>
</div>